/*ESTILOS GENERALES ↓↓↓↓↓↓*/

*{
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background:transparent;
    text-decoration: none;
    box-sizing: border-box; 
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    list-style: none;
}
body{   
    position:relative;
    padding-bottom:40px;
    min-height: 100vh;
}
/* ///////////////////INICIO DE ESTILOS HEADER ↓↓ ///////////////////*/
header{
   display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: small;
    background: linear-gradient(320deg, #8c8c8c, #f5f5f5, #9d9d9d);
    max-height: 90px;
    min-height: 70px;
    position: fixed;
    width: 100%;
}
.nav{
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 1rem;
    left: 100%;
}
.ul-nav{
    display: flex;
    flex-direction: column;
}
.listas-nav{
    align-items: center;
    padding: 15px;
    border: 2px cyan solid;
    border-radius: 3px;
    margin: 2px;
    color:#ecececec
}
.links-nav{
    color:white;
}

.logo, .link-logo{
    display: flex;
    width: 50x;
    height: 50px;   
}
.buscador{ 
    display: flex;
    outline: none;
    border: 3px solid;
    border-radius: 15px;
    padding: 3px;
    font-size: 10px;
    width: 200px;
    height: 40px;
    transition: all .5s;
    border-color: rgb(255,81,1); 
} 
.src{
    height: 100%;
}
.img-btn{
    max-width: 40px;
    max-height: 40px;
}
/*/////////////////// FIN ESTLILOS HEADER↑↑///////////////////*/

/*/////////////////// INICIO ESTILOS BODY ↓↓///////////////////*/
main{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    height:auto;
    background-color: #cccccc;
}
/*            */

.toggle-nav{
    display: flex;
    flex-direction: column;
    right: 0;
    transition: 0.5s;
    position:fixed;
    box-sizing: unset;  
    width: 30%;
    padding: 32px;
    align-items: center;
    top:70px;
    background: gray;
    
    box-shadow:  0 0 0 100vmax rgba(0, 0, 0, 0.628);  
}

h2{
    font-size: x-large;
    margin: 10px 0;
}
/*/////////////////// FIN GENERALES↑↑///////////////////*/ 

/* ///////////////////PAGINA INICIO ↓↓///////////////////*/
.div-titulo{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-top: 10px;
}
.contenedor-main{
    margin-top: 20px;
    background: #eaeaea;   
}

h1{
    box-shadow: #030303 5px 5px;
    cursor: pointer;
}
h1>span{
    color: rgb(26, 219, 9);
    box-shadow: #030303 0px 0px 5px 5px;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2px;
}
p>span{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
h2.titulo-producto{
    text-transform:capitalize;
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
}
.h2-articulos, .h2-captcha{
    padding: 20px;   
 }
.img-inicio{
    width: 150px; 
    max-height: 150px;
    min-width: 99px;
    min-height: 99px;
    border: black;
    border: 2px solid;
    border-radius: 10px;   
}
.img-inicio:hover{
    scale: 1.06;
    border: rgb(29, 72, 245) 1px solid;
    transition: all 1s;
}
.contenedor-grande{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px;
   row-gap: 45px;
}
.contenedor-mediano{  
    margin: 10px;   
}
.contenedores-chicos{
    margin-left: 10px;
}
.tabla-ventas{
 display: none;
}

/*/////////////////// FIN PAGINA INICIO↑↑///////////////////*/ 

/*//////// INICIO AUTOS Y MOTOS ↓↓//////////*/ 
.contenedor-articulos-auto, .contenedor-articulos-moto{
    background: linear-gradient(320deg, #8c8c8c, #f5f5f5, #9d9d9d);
    margin-top: 70px;
}
aside{
    display: none;
}
li>div>img{
    max-width: 200px;
    max-height: 180px;
    border-radius: 8px;
    border:2px rgb(164, 164, 164) solid;
}
li>div>h2{
    height: 35px;
    font-size: medium;
}
ul>li{
    margin-bottom: 10px;    
    border: 2px solid black; 
    border-radius: 10px;  
 
}
.h2-articulos{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
    text-decoration-line: underline;
    color:rgb(3, 3, 4); 
}
/*////////////FIN LISTA PAGINA AUTOS Y MOTOS ↑↑////////////  */

/* /////////////////// PAGINA COMPRA /////////////////////*/ 

/* ///Inicio formulario ↓↓/// */
.div-h2-form{
    display: flex;
    justify-content: center;
}
#h2-form{
    background: linear-gradient(320deg, #06ff76, #1dff04, #06ff76);
    width: fit-content;
    height: 100px;
    border:dashed blue 3px;
    border-radius:8px;
}
.div-botonera-form{
    display: flex; 
}
.div-botonera-form button{
    border: solid rgb(13, 5, 243);
    background-color: rgb(157, 230, 243);
    border-radius: 100px;
    width: 75px;
    height: 40px;
    margin: 1px;
}
.div-botonera-form button:hover{
    background-color: #04afff71;
    cursor: pointer;
}
#btn-borrar-ultimo, #btn-vaciar {
    background-color: rgb(248, 171, 171);
    border:  solid  red ;
}
#btn-borrar-ultimo:hover, #btn-vaciar:hover{
    background-color: rgb(204, 75, 75);
    cursor:pointer;
}

.tabla-dom{
    width: fit-content;
    height: fit-content;
    background-color: rgb(245, 249, 250);
    justify-content: center;
    align-items: center;
    margin-left:55px;
    border: #000 2px solid; 
}
#table-form *{
    padding: 10px;
    border: #000 2px solid;
    font-size: 20px;    
}
.contenedor-form{
   display:none
}
.formulario-compra{   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-inputs-form{
    display: flex;
    width: min-content;
}
.div-inputs-form input{
    border: #000 inset 4px;
    height: 40px;
    width: 130px;
    margin:3px;  
}
#parrafo-incompleto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    color: red;

    
}
/* /// Fin formulario↑↑///*/

/*///Inicio captcha ↓↓///*/
.contenedor-captcha{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:70px;
    padding-top: 5%;
    width: 100%;  
    background-color: rgb(251, 252, 255);
    height: 90%;
}
.toggle-contenedor-captcha{
   display: none;
}
.toggle-contenedor-form{
    display: block;
    background-color: rgba(247, 252, 253, 0.861);
    margin-top: 70px;
    min-height: 100%; 
    background-color: rgba(6, 0, 0, 0.016)
    
}
.datos-usuario>*{ 
    display:flex;   
    justify-content: center;
    align-items: center;
    border:solid 2px black;
    border-radius: 10px;
    margin:10px 0 10px 5px;
    width: 300px;
    height: 40px;
    font-size: medium;
    font-weight: 600; 
    transition: transform 0.3s ease;
}

/* ///Fin captcha↑↑////*/

/*///////////INICIO FOOTER ↓↓////////////////*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0%;
    background: linear-gradient(320deg, #f3c11b, #fdfd37, #faa907);
}
#parrafo-footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
/*///////////FIN FOOTER↑↑////////////////*/

@media only screen and (min-width: 600px){

/*///////////INICIO PAGINAS GLOBALES PARA PC↓↓////////////////*/

/*///HEADER NAV ↓↓///*/
header{
    height:70px ;
    font-size: x-large;
    padding: 15px;
}
#btn-nav{
    display: none;
}
.nav{    
    position: unset;
    display: flex;
}

.logo, .link-logo{
    width: 80px;
    height: 60px; 
}
.buscador{ 
    border-radius: 25px;
    padding: 5px;
    font-size: 16px;
    width: 200px;
}
.buscador:hover{
    width: 430px; 
    border-color: rgba(1, 225, 255, 0.897);
    box-shadow: 3px 5px  rgb(1, 234, 255);
    cursor: pointer;
}
.src{
    color: black;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.ul-nav{
    flex-direction: row;
    gap: 20px;    
}
.listas-nav{  
    border: 2px solid;
    padding: 5px;
    border-radius: 15px;
}
.listas-nav:hover{
   
    transition: 0.3s;
    border-radius: 15px;
    color: rgba(0, 187, 255, 0.865);
    background-color: rgba(0, 247, 255, 0.71);
}
h2{ 
    margin: 10px;
    padding: 20px;
    color: #030303;
}
/*////////FIN HEADER NAV↑↑///////////*/
/* ////FIN ESTILOS GLOBALES PARA PC↑↑////// */

/*///// INICIO PC ↓↓ /////*/
main{
    background: #eaeaea;
    color: #000;
    min-height: 65rem;
}   

.h2-ofertas{
    text-transform: capitalize;
    font-size: 40px;
}
.img-inicio{
    max-width: 300px; 
    max-height: 300px;
    min-width: 299px;
    min-height: 299px;
    border-radius: 15px;   
}

.contenedor-mediano{
    display: flex;
    justify-content: center;
    align-items: baseline; 
}

.contenedores-chicos{
   width: 400px;
   padding-left: 5px;
   
} 
.contenedores-chicos p{
    width: 350px;
    text-align: justify;
}
/* /////FIN INICIO PC ↑↑ */    
/*//////// INICIO TABLA Y LISTA REPUESTOS AUTOS Y MOTOS PC ↓↓/////////*/
.contenedor-articulos-auto, .contenedor-articulos-moto{
    width:70% ;
    padding: 10px;   
    margin-top: 70px;  
}
li>div>img{
    max-width: 250px;
    max-height: 200px;
    width: auto;
    height: auto;
}
li>div>h2{
    height: 35px;
    font-size: x-large;
}

ul>li{
    display: flex;
    box-shadow: 2px 1px;
}
.tabla-ventas{display: block;}
.tabla-ventas *{
    border: 1px solid rgb(13, 14, 14);
    border-collapse: collapse;
    background:linear-gradient(to right,rgba(255, 255, 255, 0.975),rgb(252, 252, 252),rgba(249, 249, 249, 0.889));
    padding: 5px;
}
aside{
    margin-left: 10px;
    margin-top: 70px;
    height: fit-content;
    display: block;
}

/* ///////FIN ESTILOS TABLA Y LISTA REPUESTOS AUTOS Y MOTOS PC ↑↑////////*/

/*//////INICIO  ↓↓///////*/
  .datos-usuario>*{ 
    border-radius: 15px;
    height: 50px;
    font-size: large;
}
/*///////FIN COMPRA↑↑///////////*/

/*//////INICIO FORMULARIO PC ↓↓////*/

#contenedor-form{
    display: flex;
    width: 700px;
    height:700px;
    margin-top:80px;
}

#contenedor-form input{
    display: flex;    
}
.div-botonera-form{
    display: flex;
     gap: 10px;
}
.div-botonera-form button{
    width: 100px;
    height: 50px;
}
#btn-cargar2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-form{
    width: 80%;   
}

.formulario-tabla-compra{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.div-inputs-form{
    height: 50px;
}
.div-inputs-form input{
    height: 40px;
}
/* /////// FIN FORMULARIO PC↑↑////*/

/* ////INICIO ESTILOS FOOTER PARA PC ↓↓////////*/
.parrafo-footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: large; 
}
/*//// FIN ESTILOS FOOTER PARA PC ↑↑ /////////*/
}